@import 'styles/Variables.scss';
$footer-height: 8em;

@mixin iphone-se {
  @media (max-width: 400px) {
      @content;
  }
}

.hide {
  visibility: hidden;
}

.unhidable {
  visibility: visible;
}

:local(.FlashcardBasic) {
  -webkit-user-select: none;
  -webkit-user-callout: none;
  padding: 0.5rem;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 2fr 2fr 4fr 3fr 1fr;

  grid-gap: 1rem;
  grid-template-areas:
    'left audio-speed star'
    'left pinyin right'
    'left chinese right'
    'left english right'
    'left input right'
    'left subheader right';

  .cue-container {
    justify-content: space-between;

    .playing {
      position: absolute;
      left: 24vw;
      @include iphone-se {
        left: 20vw;
    }
    }

    .icon-background {
      left: 24vw;
      @include iphone-se {
        left: 20vw;
    }
    }
  }

  .audio-speed-container {
    margin: auto;
    justify-content: center;
    grid-area: audio-speed;
  }

  .star {
    justify-self: right;
    align-self: self-start;
    height: auto;
    font-size: 1.3rem;
    grid-area: star;
  }
  .star-active {
    color: $orange;
  }

  .item {
    margin: auto;
    font-size: 1.3rem;
  }
  .pinyin {
    grid-area: pinyin;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .item .element {
    width: calc(1 / 3 * 100%);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .character {
    grid-area: chinese;
  }

  .english {
    grid-area: english;
  }

  .audio-record-button {
    grid-area: input;
    justify-self: center;
    background-color: $flashcard-audio-play-button;
    border-radius: 50%;
    height: 84px;
    width: 84px;
    color: white;
  }

  .recording {
    background-color: red;
  }

  .play-icon {
    padding-top: 0.2rem;
    font-size: 4.7rem;
  }

  .microphone-icon {
    font-size: 2.5rem;
    padding-top: 0.5rem;
  }

  .audio-subheader {
    grid-area: subheader;
    font-size: 0.8rem;
    color: $preview-audio-text;
  }

  .error {
    color: $red;
    font-weight: 700;
    font-size: 1rem;
  }

  .text-link {
    color: blue;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: underline;
  }

  // for other card type
  // .input {
  //   grid-area: input;
  //   align-self: center;
  //   width: 16rem;
  //   height: 3rem;
  //   text-align: center;
  //   box-shadow: 0 0 3px #ccc;
  //   border-radius: 0.4rem;
  // }

  .notes-button {
    grid-area: notes;
  }
}
